In [1]:
import pandas as pd

In [2]:
dam_weather_df = pd.read_csv('../Dam_weather_warning/weather_dam_data.csv',encoding='euc-kr',index_col=0)

In [3]:
wrn_df = pd.read_csv('../Dam_weather_warning/HeavyRainStep2.csv',encoding='euc-kr',index_col=0)

In [4]:
wrn_df.index = pd.to_datetime(wrn_df.index)
dam_weather_df.index = pd.to_datetime(dam_weather_df.index)
wrn_df.index.names = ['일시']

In [5]:
wrn_df

            호우경보
일시
2004-07-12   1.0
2004-07-13   1.0
2004-07-14   0.0
2004-07-15   0.0
2004-07-16   0.0
...          ...
2019-07-22   0.0
2019-07-23   0.0
2019-07-24   0.0
2019-07-25   0.0
2019-07-26   1.0

[5493 rows x 1 columns]

In [6]:
dam_weather_df.rename(columns={'합계 일사(MJ/m2)': '합계 일사량(MJ/m2)'},inplace=True)

In [7]:
merged_df = pd.concat([dam_weather_df,wrn_df],axis=1)

In [8]:
merged_df

,강우량(mm),유입량(㎥/s),최저기온(°C),최고기온(°C),평균 풍속(m/s),평균 상대습도(%),합계 일사량(MJ/m2),호우경보
일시,,,,,,,,
2004-07-04,40.0,333.80,20.2,23.1,1.9,92.5,1.98,NaN
2004-07-05,8.6,551.70,21.0,26.7,1.9,80.5,13.32,NaN
2004-07-06,3.5,319.20,21.5,28.6,1.1,81.3,12.28,NaN
2004-07-07,45.5,351.50,20.3,22.6,1.1,93.0,2.50,NaN
2004-07-08,12.4,742.90,19.6,22.6,0.6,93.0,3.32,NaN
...,...,...,...,...,...,...,...,...
2019-12-27,0.0,9.27,-7.0,3.3,1.1,59.3,9.68,NaN
2019-12-28,0.0,4.09,-7.3,3.8,0.4,66.0,8.39,NaN
2019-12-29,0.0,9.35,-2.8,4.0,0.3,76.3,3.86,NaN
2019-12-30,0.4,4.14,-3.8,6.6,1.6,68.8,3.21,NaN
2019-12-31,0.0,9.41,-10.1,-2.8,2.0,44.3,9.93,NaN

In [9]:
merged_df.fillna(0,inplace=True)

In [10]:
merged_df

,강우량(mm),유입량(㎥/s),최저기온(°C),최고기온(°C),평균 풍속(m/s),평균 상대습도(%),합계 일사량(MJ/m2),호우경보
일시,,,,,,,,
2004-07-04,40.0,333.80,20.2,23.1,1.9,92.5,1.98,0.0
2004-07-05,8.6,551.70,21.0,26.7,1.9,80.5,13.32,0.0
2004-07-06,3.5,319.20,21.5,28.6,1.1,81.3,12.28,0.0
2004-07-07,45.5,351.50,20.3,22.6,1.1,93.0,2.50,0.0
2004-07-08,12.4,742.90,19.6,22.6,0.6,93.0,3.32,0.0
...,...,...,...,...,...,...,...,...
2019-12-27,0.0,9.27,-7.0,3.3,1.1,59.3,9.68,0.0
2019-12-28,0.0,4.09,-7.3,3.8,0.4,66.0,8.39,0.0
2019-12-29,0.0,9.35,-2.8,4.0,0.3,76.3,3.86,0.0
2019-12-30,0.4,4.14,-3.8,6.6,1.6,68.8,3.21,0.0
2019-12-31,0.0,9.41,-10.1,-2.8,2.0,44.3,9.93,0.0

In [11]:
merged_df.to_csv('..//Processed_data//weather_dam_wrn.csv',encoding='cp949')